.molecule-header
	min-height 692px
	position relative
	background-image url(https://visualhunt.com/photos/xl/2/man-playing-guitar-male-music-musician-play.jpg)
	background-position center
	background-size cover
	z-index -1
	