/*
    Syntax Quick Reference for Jeet
    --------------------------
    column(ratios = 1, offset = 0, cycle = 0, uncycle = 0, gutter = jeet.gutter)
    span(ratio = 1, offset = 0)
    shift(ratios = 0, col_or_span = column, gutter = jeet.gutter)
    unshift()
    edit()
    center(max_width = 1410px, pad = 0)
    stack(pad = 0, align = false)
    unstack()
    align(direction = both)
    cf()
    above() -- acima(portuguese)
    below() -- abaixo(portuguese)
    For more info see:
        Kouto Swiss Doc: http://kouto-swiss.io/
        Jeet Doc: http://jeet.gs
    And of course, look in node_modules for axis-css and jeet
*/
// Jeet
    @import 'kouto-swiss';
    @import 'jeet';      // Import Jeet to Semantic Grids (http://jeet.gs/)
  
// Normalize
    normalize(); // Reset elements

// Core
// --------------------------------------------------
    // @import 'stylus/_core/name';
    @import 'stylus/_core/variables'; // Variables sets
    @import 'stylus/_core/typography';
    @import 'stylus/_core/global';
    @import 'stylus/_core/helpers';
    @import 'stylus/_core/animations';

// Why Atomic Design ? (http://bradfrost.com/blog/post/atomic-web-design/)

// Atoms
// --------------------------------------------------
    // @import 'stylus/atoms/atom-item';
    
    @import 'stylus/atoms/atom-menu';
    @import 'stylus/atoms/atom-social';
    @import 'stylus/atoms/atom-scroll';
    @import 'stylus/atoms/atom-header';
    @import 'stylus/atoms/atom-icons';
    @import 'stylus/atoms/atom-block'; //home > blocks
    @import 'stylus/atoms/atom-description';
    
// Molecules
// --------------------------------------------------
   // @import 'stylus/molecules/molecule-item';
    @import 'stylus/molecules/molecule-menu';
    @import 'stylus/molecules/molecule-header';
    @import 'stylus/molecules/molecule-home';
    @import 'stylus/molecules/molecule-explore';

// Organisms
// --------------------------------------------------
   // @import 'stylus/organisms/organism-item';
    @import 'stylus/organisms/organism-home';

// Pages
// --------------------------------------------------
    @import 'stylus/templates/html';
    
//(client/app/**/*.styl, !client/app/stylus/**/*.styl)
// Component styles are injected through gulp 
/* inject:styl */
@import 'admin/admin';
@import '../components/footer/footer';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
