.btn
	background main
	padding 13px 0
	text-align center
	border-radius 3px
	color white
	text-transform uppercase
	transition opacity .5s

ul
	list-style none
	padding 0
a
	text-decoration none
	color #0060b0