<div ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <h1 class="header-logo">Music<span>In</span></h1>
    </div>
      <nav>
        <ul>
          <p>Já possui uma conta ?</p>
          <li ng-hide="nav.isLoggedIn()" ui-sref-active="active" class="login"><a class="btn" ui-sref="login">Login</a></li>
          <li ng-hide="nav.isLoggedIn()" ui-sref-active="active" class="signup"><a class="" ui-sref="signup">Cadastrar com email</a></li>
          <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p></li>
          <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
        </ul>
      </nav>
      <oauth-buttons classes="btn-block"></oauth-buttons>
  </div>
</div>
