<div ng-controller="NavbarController" class="organism-nav-menu">
    <div class="molecule-container">
      <div class="atom-menu-logo">
          <h1 class="atom-menu-text">Logo</h1>
      </div>
      <ul class="atom-menu-list">
        <li class="atom-menu-item">Home</li>
        <li class="atom-menu-item">Sobre</li>
      </ul>
      <div class="atom-btn-login">
        <a class="btn" ui-sref="login">Login</a>
        <a ng-show="nav.isLoggedIn()" class="atom-btn" ui-sref="logout">Logout</a>
      </div>
    </div>
    <div class="molecule-menu-mobile">

      <div class="atom-menu-toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>

      <nav>
        <ul>
          <li class="atom-menu-item">Home</li>
          <li class="atom-menu-item">Sobre</li>
          <li ng-show="nav.isLoggedIn()" class="atom-menu-item">
            <a class="atom-menu-tem" ui-sref="logout">Logout</a>
          </li>
        </ul>
      </nav>

      <ul class="atom-social-list">
        <li class="atom-social-item"><span>Twitter</span></li>
        <li class="atom-social-item"><span>Facebook</span></li>
        <li class="atom-social-item"><span>Instagram</span></li>
      </ul>

    </div>
</div>
