<header class="molecule-header">
	<div class="atom-header-container">
		<h1 class="atom-header-frase">Encontre os seus músicos</h1>
			<p class="atom-header-paragrafo">Se você sabe tocar e quer ter uma banda, esse é o seu lugar.</p>
			<a href="#scroll" data-scroll class="down">
			<svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg>
		</a>
	</div>
</header>
<div class="organism-home">
	<section class="molecule-home">

		<div class  ="atom-block" 
			ng-init ="block1.btnDesc = 'Descrição';  block1.active = false"
			ng-click="block1.active = !block1.active; block1.btnDesc = block1.active ? 'Descrição':'Voltar' "
			ng-class="{'active1': block1.active}">

			<div class="atom-block-image"></div>
			<div class="atom-block-border"></div>
			<div class="atom-block-info">
				<h2 class="atom-block-title">Titulo</h2>
				<h3 class="atom-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi. Deleniti sit, quam.</h3>
			</div>
			<div class="atom-block-btn"><a href="" class="btn">{{block1.btnDesc}}</a></div>
			
			<div class="atom-block-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eaque ipsam ipsum iste, alias mollitia culpa ea, tenetur repudiandae, amet molestias blanditiis distinctio sapiente saepe quod nam aut vitae temporibus.</p>
			</div>

		</div>
		<!-- atom block end -->
		<div class="atom-block-2" ng-click="contentActive = !false; block.btnDesc2 = 'Voltar'" ng-class="{'active': contentActive}" ng-init="contentActive = false; block.btnDesc2 = 'Descrição'">
			<div class="atom-block-image"></div>
			<div class="atom-block-border"></div>
			<div class="atom-block-info">
				<h2 class="atom-block-title">Titulo</h2>
				<h3 class="atom-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi. Deleniti sit, quam.</h3>
			</div>
			<div class="atom-block-btn"><a ng-init="block.btnDesc2 = 'Mais informações'" class="btn">{{block.btnDesc2}}</a></div>

			<div class="atom-block-content" ng-class="{'active2': contentActive}" ng-init="contentActive = false">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eaque ipsam ipsum iste, alias mollitia culpa ea, tenetur repudiandae, amet molestias blanditiis distinctio sapiente saepe quod nam aut vitae temporibus.</p>
			</div>
		</div>
		<!-- atom block end -->

		<div class="atom-block-3">
			<div class="atom-block-image">
	
			</div>
			<div class="atom-block-border"></div>
			<div class="atom-block-info">
				<h2 class="atom-block-title">Titulo</h2>
				<h3 class="atom-block-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, commodi. Deleniti sit, quam.</h3>
			</div>
			<div class="atom-block-btn"><a href="" class="btn">{{block.btnDesc3}}</a></div>
		</div>
	</section>

</div>