.down
	position absolute
	bottom 50px
	width 45px
	height 35px
	display block
	left 50%
.icon
	cursor pointer
	width 50px
	fill #fff
	animation pulse 1.3s infinite
	left 50%

.icon-fb
	width 60px
	height 60px
	
.icon-twitter
	width 60px
	height 60px

.icon-instagram
	width 60px
	height 60px