.down
	position absolute
	bottom 50px
	width 45px
	height 35px
	display block
	left 50%
	cursor pointer
.icon
	cursor pointer
	width 50px
	fill #fff
	animation pulse 1.3s infinite
	left 50%

.icon-fb
	width 60px
	height 60px
	
.icon-twitter
	width 60px
	height 60px

.icon-instagram
	width 60px
	height 60px

.next
	@extends .down
	z-index 10
	left initial
	right 10%
	bottom 100px
	transition all .4s
.icon-next
	width 50px
	height 50px
	transition all .5s
	opacity 0
	visibility hidden
	+above(3)
		opacity 1
		visibility visible
	