.atom-social-list
	width 100%
	background-color green-light
	padding-top 10%
	padding-bottom 10%
	height 60px
	stack()
	+above(4)
		padding-top 3%
		padding-bottom 8%
		height initial
.atom-social-item
	col(1/3)
	text-align center
	