.atom-header-container
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background-color rgba(13,213,178,0.7)
	width 100%
	min-height 692px
.atom-header-frase
	$center('top')
	text-transform uppercase
	transition all .4s
	width 100%
	font-size em(36)
	text-align center
	color white
	
	+above(4)
		font-size em(70)

.atom-header-paragrafo
	$center('top')
	top 58%
	width 100%
	text-align center
	color white
	
	+above(4)
		top 65%
		font-size em(20)